:root{
    --morado: #662c8e;
    --gris: #324a5a;
    --gris-suave: #7297a2;
    --gris-medio: #0a3143;
    --gris-fuerte: #adbcc6;
    --blanco: #ffffff;
    --blanco-gris: #cedeea;
    --negro: #000000;

    --fondo: #662c8e;
    --casco: #324a5a;
    --casco-sombra: #0a3143;
    --casco-reflejo: #7297a2;
    --cuerno: #ffffff;
    --cuerno-reflejo: #cedeea;
    --cuerno-sombra: #cedeea;
    --ojos: #ffffff;
    --cara: #000000;
    --cuerpo: #000000;
    --brazos: #000000;
    --piernas: #000000;
    --manos: #324a5a;
    --sombra: #0000002c;
    --espada-hoja: #ffffff;
    --espada-hoja-reflejo: #cedeea;
    --espada-hoja-base: #adbcc6;
    --espada-mango: #000000;
    --espada-mango-cinturon: #000000;
    --escudo: #cedeea;
    --escudo-sombra: #adbcc6;
    --escudo-reflejo: #ffffff;
    --escudo-emblema: #324a5a;
    --escudo-emblema-centro: #ffffff;

    --cuerpo-inx: 1;
    --piernas-inx: 1;
    --brazos-inx: 1;
    --cue-detras: 2;
    --cab: 3;
    --cue-frente: 4;
    --esc: 5;
    --esp: 6;

    --size-warrior: 380px;
    --width-warrior: var(--size-warrior);
    --height-warrrior: calc(.84212 * var(--size-warrior));
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;

    display: grid;
    place-items: center;

    height: 100vh;

    background: var(--fondo);
}


.guerrero{
    position: relative;

    width: var(--width-warrior);
    height: var(--height-warrrior);
    
    border: 1px solid green;
}

.casco{
    overflow: hidden;

    position: absolute;
    top: calc(.081 * var(--height-warrrior));
    left: calc(.058 * var(--width-warrior));

    width: calc(.64736 * var(--width-warrior));
    height: calc(.671875 * var(--height-warrrior));
}

.casco__cabecera{
    z-index: var(--cab);
    overflow: hidden;

    position: absolute;
    left: 11%;

    width: 79%;
    height: 100%;
    
    border-top-left-radius: 55%;
    border-top-right-radius: 55%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.casco__cabecera::after{
    z-index: calc(var(--cab) - 1); 

    content: '';
    position: absolute;

    width: 58%;
    height: 100%;

    background: var(--casco-sombra);
}

.casco__cabecera::before{
    z-index: var(--cab);

    content: '';
    position: absolute;
    right: 0;

    width: 85%;
    height: 100%;

    border-top-left-radius: 55%;

    background: var(--casco);
}

.casco__reflejo{
    overflow: hidden;
    z-index: var(--cab);

    position: absolute;
    top: 9%;
    right: 10%;

    width: 31%;
    height: 25%;

    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.casco__reflejo::after{
    content: '';
    position: absolute;
    top: 20%;
    right: 20%;

    width: 216%;
    height: 200%;

    border-radius: 100%;

    background: var(--casco);
}

.casco__reflejo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 216%;
    height: 200%;

    border-radius: 100%;

    background: var(--casco-reflejo);
}

.espacio-ojos{
    overflow: hidden;
    z-index: var(--cab);

    position: absolute;
    top: 44.5%;
    left: 29%;

    width: 65%;
    height: 20.9%;

    border-radius: 15.873%/44.444%;

    background: var(--cara);
}

.ojo{
    position: absolute;
    top: 25%;

    width: 15%;
    height: 45%;

    border-radius: 100%;

    background: var(--ojos);
}

.ojo-izq{
    left: 15%;
}

.ojo-der{
    right: 12%;
}

.espacio-boca{
    z-index: var(--cab);

    position: absolute;
    top: 65.4%;
    right: 20.5%;

    width: 32.8%;
    height: 35%;

    background: var(--cara);
}

.espacio-boca::after{
    content: '';
    position: absolute;

    width: 15.6%;
    height: 100%;

    border-radius: 0 300%/40%;
    border-bottom-left-radius: 0;

    background: var(--casco);
}

.espacio-boca::before{
    content: '';
    position: absolute;
    right: 0;

    width: 15.6%;
    height: 100%;

    border-radius: 300%/40% 0;
    border-bottom-right-radius: 0;

    background: var(--casco);
}

.cuernos{
    z-index: var(--cue-frente);
    overflow: hidden;

    position: absolute;
    top: 17.2%;
    
    width: 30%;
    height: 41.1%;

    border-top-right-radius: 45.5%;
    border-bottom-left-radius: 22.7%;
    border-bottom-right-radius: 22.7%;
}

.cuernos__parte-superior{
    overflow: hidden;

    position: absolute;
    
    width: 56.7%;
    height: 100%;

    border-radius: 0 95.238% 0 47.619% / 0 45.4545% 0 25%;

    background: var(--cuerno);
}

.cuernos__parte-superior--der{
    background: var(--cuerno-sombra);
}

.cuernos__parte-inferior{
    overflow: hidden;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 47.7%;

    border-radius: 27.027%/47.619%;

    background: var(--cuerno-sombra);
}

.cuernos__parte-inferior--der{
    background: var(--cuerno);
}

.cuernos__parte-inferior::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 59.5%;

    border-radius: 0 0 27.027% 27.027%/ 0 0 80% 80%;

    background: var(--cuerno);
}

.cuernos--izq{
    left: 0;
}

.cuernos--der{
    z-index: var(--cue-detras);

    right: 0;

    transform: rotateY(180deg);
}

.cuernos__reflejo{
    z-index: var(--cue-frente);

    position: absolute;
    top: 18.2%;
    left: 10.9%;

    width: 17.6%;
    height: 45.5%;

    border-radius: 153.846%/50%;

    background: var(--cuerno-reflejo);
}

.cuernos__reflejo--der{
    z-index: var(--cue-detras);

    top: 4.5%;
    left: -5.4%;

    width: 47.3%;
    height: 102.3%;

    border-radius: 0 142.857%  0 0 / 0 55.555% 0 0;

    transform: rotate(-15deg);

    background: var(--cuerno);
}

.cuerpo{
    z-index: var(--cuerpo-inx);

    position: absolute;
    bottom: calc(0.09 * var(--size-warrior));
    left: calc(0.18 * var(--size-warrior));

    width: calc(0.310526 * var(--size-warrior));
    height: calc(0.121 * var(--size-warrior));

    border-bottom-left-radius: 16.949% 43.478%;
    border-bottom-right-radius: 16.949% 43.478%;

    background: var(--cuerpo);
}

.pierna{
    z-index: var(--piernas-inx);

    position: absolute;
    bottom: -43.478%;

    width: 25.42%;
    height: 47.826%;

    background: var(--piernas);
}

.pierna--izq{
    left: 16.94%;
}

.pierna--der{
    left: 63.559%;
}

.brazo{
    z-index: var(--brazos-inx);
    
    position: absolute;
    top: -26.0869%;

    width: 28.813%;
    height: 108.6956%;

    background: var(--brazos);
}

.brazo--izq{
    left: -6.77966%;

    border-width: 5.882/4%;
    border-right: solid var(--fondo);
    border-bottom: solid var(--fondo);
}

.brazo--der{
    right: -25.4237%;

    transform: rotate(-45deg);
}

.cuerpo__sombra{
    z-index: calc(var(--cuerpo-inx) - 1);

    position: absolute;
    top: 121.739%;

    width: 101.6949%;
    height: 34.7826%;

    border-radius: 25%/187.5%;

    background: var(--sombra);
}

.espada{
    z-index: var(--esp);

    position: absolute;
    top: calc(.5 * var(--height-warrrior));
    right: calc(-.05 * var(--width-warrior));

    width: calc(.6263 * var(--width-warrior));
    height: calc(.275 * var(--height-warrrior));

    transform: rotate(-45deg);
}

.espada__mango{
    position: absolute;
    top: 34.0909%;

    width: 29.4117%;
    height: 34.0909%;

    border-radius: 14.285% 0 0 14.285% / 33.333% 0 0 33.333%; 

    background: var(--espada-mango);
}

.espada__mango::after{
    z-index: calc(var(--esp) + 1);

    content: '';
    position: absolute;
    top: -100%;
    right: 0;

    width: 20%;
    height: 293.333%;

    background: var(--espada-mango-cinturon);
}

.espada__mango::before{
    z-index: var(--esp);

    content: '';
    position: absolute;
    top: -73.333%;
    right: -22%;

    width: 22.857%;
    height: 246.666%;

    background:  var(--espada-hoja-base);
}

.espada__mano{
    z-index: calc(var(--esp) + 1);

    position: absolute;
    top: 36.3636%;
    left: 4.2016%;

    width: 18.487%;
    height: 50%;

    border-radius: 100%;

    background: var(--manos);
}

.espada__hoja{
    overflow: hidden;

    position: absolute;
    top: 9.0909%;
    left: 35.294%;

    width: 64.7058%;
    height: 84.0909%;

    clip-path: polygon(77% 0%,100% 50%, 77% 100%, 0 100%, 0 0);
}

.espada__hoja::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 50.1%;

    background: var(--espada-hoja);
}

.espada__hoja::before{
    content: '';
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50.1%;

    background: var(--espada-hoja-reflejo);
}

.escudo{
    overflow: hidden;
    z-index: var(--esc);

    position: absolute;
    top: 170px;
    left: 6px;

    width: 134px;
    height: 134px;

    border-radius: 100%;

    background: var(--escudo-sombra);
}

.escudo::after{
    z-index: calc(var(--esc) + 1);

    content: '';
    position: absolute;
    top: -14px;
    left: 8px;

    width: 134px;
    height: 134px;

    border-radius: 100%;

    background: var(--escudo);
}

.escudo__emblema{
    z-index: calc(var(--esc) + 2);

    position: absolute;
    top: 28px;
    left: 28px;

    width: 78px;
    height: 78px;

    border-radius: 100%;

    background: var(--escudo-emblema);
}

.escudo__emblema::after{
    z-index: calc(var(--esc) + 3);

    content: '';
    position: absolute;
    top: 26px;
    left: 26px;

    width: 26px;
    height: 26px;

    border-radius: 100%;

    background: var(--escudo-emblema-centro);
}

.escudo__reflejo{
    overflow: hidden;
    z-index: calc(var(--esc) + 2);

    position: absolute;
    top: 6px;
    left: 42px;

    width: 86px;
    height: 92px;

    border-top-right-radius: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 24px;

    background: var(--escudo);
}

.escudo__reflejo::after{
    z-index: calc(var(--esc) + 2);

    content: '';
    position: absolute;
    top: 16px;
    left: -24px;

    width: 96px;
    height: 96px;

    border-radius: 100%;

    background: var(--escudo);
}

.escudo__reflejo__fondo{
    position: absolute;
    left: 12px;

    width: 80px;
    height: 76px;

    background: var(--escudo-reflejo);
}

.escudo__reflejo__fondo::after{
    content: '';
    position: absolute;
    top: 1px;
    left: -7px;

    width: 17px;
    height: 17px;

    border-radius: 100%;

    background: var(--escudo-reflejo);
}

.escudo__reflejo__fondo::before{
    content: '';
    position: absolute;
    bottom: -7px;
    right: 7px;

    width: 15px;
    height: 14px;

    border-radius: 100%;

    background: var(--escudo-reflejo);
}