:root{
    --purple: #662c8e;
    --gray-lighter: #adbcc6;
    --gray-light: #cedeea;
    --gray: #324a5a;
    --gray-bold: #7297a2;
    --gray-bolder: #0a3143;
    
    --white: #ffffff;
    --black: #000000;

    /* Background */
    --c-background: #662c8e;

    --c-logo-text: #ffffff;

    --c-icon: #00bfff;
    --c-icon-hover: #46d1ff;
    --c-icon-heart: #ff4c4c;

    --c-pop-msg: #00bfff;
    --c-text: #ffffff;

    --font-sm: 16rem;
    --font-md: 20rem;
    --font-lg: 32rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 6.25%;
}

body{
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: var(--c-background);

    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: var(--font-sm);
}

img{
    width: 100%;
    height: 100%;
}

header{
    position: absolute;
    padding: 50px 70px;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.logo, 
.navbar{
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    gap: 20px;
}

.icon{
    cursor: pointer;
    color: var(--c-icon);
}

.icon:hover{
    color: var(--c-icon-hover);
}

.logo__icon,
.navbar__icon{
    font-size: var(--font-lg);
}

.logo__text{
    font-size: var(--font-lg);
    color: var(--c-logo-text);
}

.navbar__item{
    position: relative;
}

.navbar__icon:hover{
    color: var(--c-icon-hover);
}

.navbar__chk{
    display: none;
}

.pop-msg{
    padding: 10px 20px;

    position: absolute;
    top: 100px;
    right: -10px;

    border-radius: 15px;
    border: 2px solid var(--c-pop-msg);
    opacity: 0;
}

.pop-msg::before,
.pop-msg::after{
    content: '';
    position: absolute;
    right: 15px;

    width: 20px;
    height: 15px;

    clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
}

.pop-msg::before{
    top: -15px;
    background: var(--c-pop-msg);
}

.pop-msg::after{
    top: -12px;
    background: var(--c-background);
}

.pop-msg__text{
    display: flex;
    gap: 8px;

    color: var(--c-text);

    font-size: var(--font-md);
    font-weight: 700;
}

.pop-msg__text--featured{
    color: var(--c-pop-msg);
}

.navbar__chk:checked ~:only-of-type .navbar__icon--on,
.navbar__chk:not(:checked) ~:only-of-type .navbar__icon--off,
.navbar__chk:checked ~ .pop-msg .pop-msg__text .pop-msg__text--disabled,
.navbar__chk:not(:checked) ~ .pop-msg .pop-msg__text .pop-msg__text--enabled{
    display: none;
}

.navbar__chk:not(:checked) ~ .pop-msg{
    animation: fade-in-out 1.5s;
}

.navbar__chk:checked ~ .pop-msg{
    animation: fade-in-out-2 1.5s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text-coming-soon{
    color: var(--c-icon);
    font-size: var(--font-lg);
    font-weight: bold;
}

.container-slider{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 400px;
}

.slider-item{
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.slider__angle{
    position: absolute;

    font-size: var(--font-lg);
}

.slider__angle--prev{
    left: -100px;
}

.slider__angle--next{
    right: -100px;
}

.slider-dot-container{
    display: flex;
    gap: 20px;
}

.no-active{
    display: none;
    animation: fade-out .5s;
    opacity: 0;

}

.active{
    display: flex;
    animation: fade-in 1.5s;
    opacity: 1;
}

footer{
    position: absolute;
    padding: 36px 0;
    bottom: 0;

    display: flex;
    justify-content: center;

    width: 100%;
}

.credits{
    user-select: none;
}

.credits__text{
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--c-text);

    font-size: var(--font-md);
    font-weight: bold;
}

.credits__icon{
    color: var(--c-icon-heart);
}

.credits__link{
    text-decoration: none;
    color: var(--c-icon);
}

@keyframes fade-in-out{
    from{
        top: 70px;
    }

    50%{
        top: 50px;
        opacity: 100%;
    }

    to{
        top: 70px;
        opacity: 0;
    }
}

@keyframes fade-in-out-2{
    from{
        top: 70px;
    }

    50%{
        top: 50px;
        opacity: 1;
    }

    to{
        top: 70px;
        opacity: 0;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes fade-in{
    from{
        display: block;
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}